<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QLMaBarCodeEntities" connectionString="metadata=res://*/Models.DBSanPham.csdl|res://*/Models.DBSanPham.ssdl|res://*/Models.DBSanPham.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities1" connectionString="metadata=res://*/Models.QLMabarcode.csdl|res://*/Models.QLMabarcode.ssdl|res://*/Models.QLMabarcode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities2" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities3" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities4" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities5" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QLMaBarCodeEntities6" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QLMaBarCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QRCodeForPrEntities" connectionString="metadata=res://*/Models.QLMaBarCode.csdl|res://*/Models.QLMaBarCode.ssdl|res://*/Models.QLMaBarCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=QRCodeForPr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>